.mulit_line_ellipsis {
  width: calc(300px - 3em);
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 9.8em;
  margin-right: -1em;
  padding-right: 1em;
}

.mulit_line_ellipsis:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.mulit_line_ellipsis:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
